.layout{
    width: 100%;
    display: flex;
}

.content{
    /*margin-left: 300px;*/
    /*max-width: calc(100% - 200px);*/
    padding: 140px 50px;
    padding-bottom: 0;
    transition: all 0.8s;
    min-height: 100vh;
    overflow-x: hidden;
}