@tailwind base;
@tailwind components;
@tailwind utilities;

@import './node_modules/@syncfusion/ej2-react-spreadsheet/styles/material.css';
:root {
    --primary-blue: #3786FB;
    --light-blue: '#E5F1FF';
    --grey-font-color: '#525567';
    --dark-font-color: '#000000';
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-blue)
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    scrollbar-color: var(--primary-blue);
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
    scrollbar-color: var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 30px;
    border: 3px solid var(--primary-blue);
}
